<meta charset="{{ meta.charset }}">
<meta name="description" content="{{ meta.description }}" />
<meta name="keywords" content="{{ meta.keywords }}">
<meta name="author" content="Orilow">
<meta name="viewport" content="{{meta.viewport}}">
<meta http-equiv="content-language" content="{{meta.contentLanguage}}">
<link rel="icon" href="{{staticBasePath}}favicon.png" type="image/png">
<link rel="preconnect" href="{{staticBasePath}}" />
<link rel="preload" href="{{staticBasePath}}Roboto.woff2" as="font" />
<link rel="preload" href="{{staticBasePath}}gabriela.woff2" as="font" />
<link rel="prefetch" href="{{staticBasePath}}index.css" as="style" />
<link rel="prefetch" href="{{staticBasePath}}scene.css" as="style" />
<title>{{ title }}</title>
<link rel="stylesheet" href="{{ staticBasePath }}index.css" type="text/css" media="screen">
<link rel="stylesheet" href="{{ staticBasePath }}header.css" type="text/css" media="screen">


