<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}" />
    <link rel="icon" href="{{staticBasePath}}favicon.png" type="image/png">
    <link rel="stylesheet" href="{{ staticBasePath }}index.css" media="screen">
    <link rel="stylesheet" href="{{ staticBasePath }}byHashtag.css" media="screen">
</head>
<body>
{{>header}}
<div class="main-container">
    <div class="searching-hashtag">{{targetHashtag}}</div>
    {{>adventures}}
</div>
</body>
