<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="{{ meta.charset }}">
    <title>{{ title }}</title>
    <meta name="description" content="{{ meta.description }}" />
    <link rel="icon" href="{{staticBasePath}}favicon.png" type="image/png">
    <link rel="stylesheet" href="{{ staticBasePath }}index.css" media="screen">
</head>
<body>
    {{>header}}
</body>
